/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  background-color: #424242;
  color: #E9E9E9;
  font-size: 1em;
  line-height: 1.4;
}

body{



}

img.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:304px;
  height:304px;

}

p{
  color: #E9E9E9;
  background-color: grey;
  margin-left: 500px;
  margin-right: 100px;
  padding-left: 50px;
  padding-right: 50px;

}

h1{
  font-family: 'Slabo 27px', serif;
  font-size: 70px;
  padding-bottom: 0px;
  text-align: center;

}

h2 {
  padding-top: 0px;
  font-size: 45px;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

h3{
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
}




.tri{
  margin-left: 150px;
}



.about p{
  font-family: 'Slabo 27px', serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.about{
  padding-left: 65px;
  margin-right: 0px;
}

.contact{
  margin-left: -400px;
  padding-left: 200px;
  padding-right: 200px;
}


a{
  color: #E9E9E9;
  font-size: 25px;
}
.wrap {
  margin: 0 auto;
  max-width: 1200px; /* change this width to make a wider page!*/
  padding: 0 1em; /* 1em of padding on the left and right side */
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}






h4 {
  font-size: 1.125em /*18px */
}

/* navigation list styles */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =======================================
    author styles
    place your custom styles below here
========================================== */





















/* =======================================
    Layout
    keep this at the bottom
========================================== */

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full {
    width: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
  }

  .column.half {
    width: 50%;
  }

  .column.third {
    width: 33.3%;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}
